@font-face {
    font-family: 'Dancing Script';
    src: url(Font/DancingScript-VariableFont_wght.ttf);
    font-family: 'Zen Loop';
    src: url(Font/ZenLoop-Regular.ttf);
    font-family: 'Roboto';
    src: url(font/Roboto-MediumItalic.ttf)
}
*{
    margin: 0;
    padding: auto;
    text-align: justify;
    max-width: 100%;
}
html{
    height: 1000px;
    min-height: 100%;
    position: relative;
}
body{
    overflow-x: hidden;
    height: 1000px;
    background-color: #ffffff; 
    position: relative;
    margin: 0;
}

/* LOGO, NOMBRE DE LA EMPRESA Y MENÚ. */

header{
    position: relative;
    background-image: url(Imagenes/LLamas.jpeg);
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-color: gold;
    background-size: cover;
    height: 300px;
}
div{
    position: relative;
    z-index: 100;
    top:0;
}
h1#Name{
    font-family: 'Dancing Script';
    font-size: 120px;
    float: right;
    position: relative;
    top: 80px;
    margin-right: 27%;
    text-align: justify;
    display: inline;
    font-weight: 900;
}
#Logo{
    position: absolute;
    top: 38px;
    left: 15%;
    height: 225px;
}
nav{
    display: block;
    height: 30px;
    border: 3px groove goldenrod;
    background-color: white;
    position: sticky;
    z-index: 200;
    top: 0;
}
span{
    margin-left: 25%;
    position: relative;
    top: 2.5px;
}
.Nav{
    position: relative;
    font-size: 20px;
    font-weight:bold;
    color: rgb(49, 43, 43);
    margin: 50px;
    text-decoration: none;
    outline: none;
}
.Nav:hover{
    border-radius: 5px;
    background-color: gold;
    width: 100px;
}

/*Lema y imagen de los labios*/

article.lema{
    display: inline-block;
}

img#labiorojo{
    height: 500px;
    margin: 15px;
}

.Lema{
    font-size: 50px;
    font-family:'Zen Loop';
    font-weight:bolder;
    display: inline-block;
    position: relative;
    top: -250px;
    left: 18px;
}

.lema:hover{
    color: goldenrod;
}

/*Formulario de contacto */

aside{
    border: 3px groove goldenrod;
    border-radius: 10px;
    position: relative;
    margin-top: -490px;
    margin-right: 30px;
    float: right;
    height: 400px;
    width: 360px;
    background-color: white;
    font-size: 30px;
}

form{
    margin: 5px;
    padding-left: 3px;
}

p#form_title{
    display: inline-block;
    position: relative;
    border-bottom: 3px solid goldenrod;
    margin-bottom: 8px;
    margin-left: 5px;
}

input{
    margin: 5px;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 15px;
    border: 2px groove goldenrod;
    position: relative;
}

#Enviar{
    position: inherit;
    margin-left: 120px;
    margin-top: 15px;
    border-radius: 10px;
    border: 2px groove goldenrod;
    font-size: 25px;
}

/*PIE DE PÁGINA */

Footer{
    background-color: beige;
    position: absolute;
    text-align: justify;
    left: 0;
    bottom: -100px;
    width: 100%;
    height: 150px;
    font-size: 20px;
    border: 3px groove goldenrod;
}

#Instagram{
    outline: none;
    text-decoration: none;
    color: black;
}

#Instagram:hover{
    background-color: gold;
    border-bottom: pink;
    color: rgb(59, 133, 25);
}

p.copyright{
    text-align: center;
}
p.P1{
    text-align: justify;
    display: inline-block;
    margin-left: -350px;
}
#location img{
    margin-right: 0px;
    height: 120px;
    float: right;
    position: relative;
    top: -130px;
    margin-right: 50px;
    border: 2px solid black;
}
